img {
    width: 200px;
}
header {
    text-align: center;
    background: #bde6ff;
    color: black;
    border-style: solid;
    border-color: #dceffc;
    border-width: 5px;
    border-radius: 50px;
}